<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-avatar slot="start">
        <img src="/assets/logoPets1.png" />
      </ion-avatar>
    </ion-buttons>
    <ion-title> Pets </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Refresher -->

  <!-- Posts -->

  <app-posts [posts]="posts"></app-posts>

  <!-- Infinite Scroll -->

  <ion-infinite-scroll threshold="150px" (ionInfinite)="nexts($event)">
    <ion-infinite-scroll-content> 
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
